@model IEnumerable<Product>

<div id="mainright" class="agileinfo-ads-display col-md-9">
	<div class="wrapper">

		<div class="col-xs-4 product-men">
			<div class="men-pro-item">
				<div class="men-thumb-item">
					<img src="images/k1.jpg" alt="">
				</div>
				<div class="item-info-product ">
					<h4>
						<a href="single.html">Nước táo</a>
					</h4>
					<div class="info-product-price">
						<span class="item_price">1200</span>
					</div>
					<div class="snipcart-details">
						<a href="" class="button">Delete</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4 product-men">
			<div class="men-pro-item">
				<div class="men-thumb-item">
					<img src="images/k2.jpg" alt="">
				</div>
				<div class="item-info-product ">
					<h4>
						<a href="single.html">Nước cam</a>
					</h4>
					<div class="info-product-price">
						<span class="item_price">500</span>
					</div>
					<div class="snipcart-details">
						<a href="" class="button">Delete</a>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xs-4 product-men">
			<div class="men-pro-item">
				<div class="men-thumb-item">
					<img src="images/k3.jpg" alt="">
				</div>
				<div class="item-info-product ">
					<h4>
						<a href="single.html">Nước dâu</a>
					</h4>
					<div class="info-product-price">
						<span class="item_price">400</span>
					</div>
					<div class="snipcart-details">
						<a href="" class="button">Delete</a>
					</div>>

				</div>
			</div>
		</div>
		<div class="col-md-4 product-men">
			<div class="men-pro-item">
				<div class="men-thumb-item">
					<img src="images/k4.jpg" alt="">
				</div>
				<div class="item-info-product ">
					<h4>
						<a href="single.html">Organicana Red Chilli</a>
					</h4>
					<div class="info-product-price">
						<span class="item_price">1000</span>
					</div>
					<div class="snipcart-details">
						<a href="" class="button">Delete</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 product-men">
			<div class="men-pro-item">
				<div class="men-thumb-item">
					<img src="images/k5.jpg" alt="">
				</div>
				<div class="item-info-product ">
					<h4>
						<a href="single.html">MTR Black Pepper</a>
					</h4>
					<div class="info-product-price">
						<span class="item_price">$85.00</span>
					</div>
					<div class="snipcart-details">
						<a href="" class="button">Delete</a>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-4 product-men">
			<div class="men-pro-item simpleCart_shelfItem">
				<div class="men-thumb-item">
					<img src="images/k6.jpg" alt="">
				</div>
				<div class="item-info-product ">
					<h4>
						<a href="single.html">Chataka - Elaichi</a>
					</h4>
					<div class="info-product-price">
						<span class="item_price">$299.99</span>
					</div>
					<div class="snipcart-details">
						<a href="" class="button">Delete</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>